.app {
  min-height: 100vh;
  background-color: #5155ee;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 3rem;
}

.tweet {
  color: black;
  border: none;
  border-radius: 20px;
  max-height: 250px;
  width: 650px;
  background-color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 24px;
}

.tweet h5 {
  margin-top: 20px;
}

.tweet h3 {
  font-size: 1.4rem;
}

.tweet p {
  font-size: 2rem;
}

.red {
  color: red;
}

button {
  padding: 16px 20px;
  font-size: 1.4rem;
  border: 2px solid white;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all ease 0.3s;
}

button:hover {
  background-color: white;
  color: #5155ee;
}
